![piggy_bank](piggy_bank.jpg)

<br>

Personal loans are a lucrative revenue stream for banks. The typical interest rate of a two year loan in the United Kingdom is [around 10%](https://www.experian.com/blogs/ask-experian/whats-a-good-interest-rate-for-a-personal-loan/). This might not sound like a lot, but in September 2022 alone UK consumers borrowed [around £1.5 billion](https://www.ukfinance.org.uk/system/files/2022-12/Household%20Finance%20Review%202022%20Q3-%20Final.pdf), which would mean approximately £300 million in interest generated by banks over two years!

You have been asked to work with a bank to clean and store the data they collected as part of a recent marketing campaign, which aimed to get customers to take out a personal loan. They plan to conduct more marketing campaigns going forward so would like you to set up a PostgreSQL database to store this campaign's data, designing the schema in a way that would allow data from future campaigns to be easily imported. 

They have supplied you with a csv file called `"bank_marketing.csv"`, which you will need to clean, reformat, and split, in order to save separate files based on the tables you will create. It is recommended to use `pandas` for these tasks.

Lastly, you will write the SQL code that the bank can execute to create the tables and populate with the data from the csv files. As the bank are quite strict about their security, you'll save SQL files as multiline string variables that they can then use to create the database on their end. 

You have been asked to design a database that will have three tables:

## client

| column | data type | description | original column in dataset |
|--------|-----------|-------------|----------------------------|
| `id` | `serial` | Client ID - primary key | `client_id` |
| `age` | `integer` | Client's age in years | `age` |
| `job` | `text` | Client's type of job | `job` |
| `marital` | `text` | Client's marital status | `marital` | 
| `education` | `text` | Client's level of education | `education` |
| `credit_default` | `boolean` | Whether the client's credit is in default | `credit_default` |
| `housing` | `boolean` | Whether the client has an existing housing loan (mortgage) | `housing` | 
| `loan` | `boolean` | Whether the client has an existing personal loan | `loan` |

<br>

## campaign

| column | data type | description | original column in dataset |
|--------|-----------|-------------|----------------------------|
| `campaign_id` | `serial` | Campaign ID - primary key | N/A - new column |
| `client_id` | `serial` | Client ID - references `id` in the `client` table | `client_id` |
| `number_contacts` | `integer` | Number of contact attempts to the client in the current campaign | `campaign` |
| `contact_duration` | `integer` | Last contact duration in seconds | `duration` |
| `pdays` | `integer` | Number of days since contact in previous campaign (`999` = not previously contacted) | `pdays` |
| `previous_campaign_contacts` | `integer` | Number of contact attempts to the client in the previous campaign | `previous` |
| `previous_outcome` | `boolean` | Outcome of the previous campaign | `poutcome` |
| `campaign_outcome` | `boolean` | Outcome of the current campaign | `y` |
| `last_contact_date` | `date` | Last date the client was contacted | A combination of `day`, `month`, and the newly created `year` |

<br>

## economics

| column | data type | description | original column in dataset |
|--------|-----------|-------------|----------------------------|
| `client_id` | `serial` | Client ID - references `id` in the `client` table | `client_id` |
| `emp_var_rate` | `float` | Employment variation rate (quarterly indicator) | `emp_var_rate` |
| `cons_price_idx` | `float` | Consumer price index (monthly indicator) | `cons_price_idx` |
| `euribor_three_months` | `float` | Euro Interbank Offered Rate (euribor) three month rate (daily indicator) | `euribor3m` |
| `number_employed` | `float` | Number of employees (quarterly indicator)| `nr_employed` |

In [298]:
import pandas as pd
import numpy as np

# Start coding here...
df = pd.read_csv("bank_marketing.csv")
df.head()

   client_id  age        job  ... euribor3m nr_employed   y
0          0   56  housemaid  ...     4.857      5191.0  no
1          1   57   services  ...     4.857      5191.0  no
2          2   37   services  ...     4.857      5191.0  no
3          3   40     admin.  ...     4.857      5191.0  no
4          4   56   services  ...     4.857      5191.0  no

[5 rows x 22 columns]

In [299]:
df.columns

Index(['client_id', 'age', 'job', 'marital', 'education', 'credit_default',
       'housing', 'loan', 'contact', 'month', 'day', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed', 'y'],
      dtype='object')

In [300]:
client = df[['client_id', 'age', 'job', 'marital', 'education', 'credit_default', 'housing', 'loan']]
campaign = df[['client_id', 'duration','campaign', 'pdays', 'previous', 'poutcome','y','month', 'day']]
economics = df[['client_id', 'emp_var_rate', 'cons_price_idx',
       'cons_conf_idx', 'euribor3m', 'nr_employed']]

In [301]:
client.rename(columns={'client_id': 'id'}, inplace=True)
campaign.rename(columns={'duration': 'contact_duration',
                        "previous":"previous_campaign_contacts",
                        "y":"campaign_outcome",
                        "poutcome":"previous_outcome",
                        "campaign":"number_contacts"}, inplace=True)
economics.rename(columns={"euribor3m":"euribor_three_months",
                         "nr_employed":"number_employed"},inplace=True)

In [302]:
client['education'] = client['education'].str.replace('.', '_')
client['education'] = client['education'].replace('unknown', np.nan)

In [303]:
client['job'] = client['job'].str.replace('.', '')

In [304]:
print(campaign["campaign_outcome"].value_counts())

no     36548
yes     4640
Name: campaign_outcome, dtype: int64

In [305]:
replacements = {'success': 1, 'failure': 0,
               "no":0, "yes":1}
campaign[['previous_outcome', 'campaign_outcome']] = campaign[['previous_outcome', 'campaign_outcome']].replace(replacements)
campaign['previous_outcome'].replace('nonexistent', np.nan,inplace=True)

In [306]:
campaign["campaign_id"] = 1
campaign.head()

   client_id  contact_duration  number_contacts  ...  month  day  campaign_id
0          0               261                1  ...    may   13            1
1          1               149                1  ...    may   19            1
2          2               226                1  ...    may   23            1
3          3               151                1  ...    may   27            1
4          4               307                1  ...    may    3            1

[5 rows x 10 columns]

In [307]:
print(campaign["previous_outcome"].value_counts())

0.0    4252
1.0    1373
Name: previous_outcome, dtype: int64

In [308]:
print(campaign["campaign_outcome"].value_counts())

0    36548
1     4640
Name: campaign_outcome, dtype: int64

In [309]:
campaign['last_contact_date'] = pd.to_datetime('2022'+'-' + df['month'].astype(str) + '-' + df['day'].astype(str))

In [310]:
client.columns

Index(['id', 'age', 'job', 'marital', 'education', 'credit_default', 'housing',
       'loan'],
      dtype='object')

In [311]:
campaign = campaign.drop(['month', 'day'], axis=1)
campaign.columns

Index(['client_id', 'contact_duration', 'number_contacts', 'pdays',
       'previous_campaign_contacts', 'previous_outcome', 'campaign_outcome',
       'campaign_id', 'last_contact_date'],
      dtype='object')

In [312]:
economics = economics.drop(['cons_conf_idx'], axis=1)
economics.columns

Index(['client_id', 'emp_var_rate', 'cons_price_idx', 'euribor_three_months',
       'number_employed'],
      dtype='object')

In [313]:
client.to_csv("client.csv")
campaign.to_csv("campaign.csv")
economics.to_csv("economics.csv")

In [314]:
client_table = """
CREATE TABLE client (
    id serial PRIMARY KEY,               
    age integer,                        
    job text,                           
    marital text,                       
    education text,                     
    credit_default boolean,             
    housing boolean,                    
    loan boolean                        
);
\COPY client FROM 'client.csv' DELIMITER ',' CSV HEADER
"""

In [315]:
campaign_table = """CREATE TABLE campaign
(
    campaign_id SERIAL PRIMARY KEY,
    client_id SERIAL references client (id),
    number_contacts INTEGER,
    contact_duration INTEGER,
    pdays INTEGER,
    previous_campaign_contacts INTEGER,
    previous_outcome BOOLEAN,
    campaign_outcome BOOLEAN,
    last_contact_date DATE    
);
\copy campaign from 'campaign.csv' DELIMITER ',' CSV HEADER
"""

In [316]:
economics_table = """CREATE TABLE economics
(
    client_id SERIAL references client (id),
    emp_var_rate FLOAT,
    cons_price_idx FLOAT,
    euribor_three_months FLOAT,
    number_employed FLOAT
);
\copy economics from 'economics.csv' DELIMITER ',' CSV HEADER
"""